<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogFlow.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LogFlow.Viewer.Properties.Settings>
            <setting name="Display_ColoredLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_HidenColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Level</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Display_BoldParameter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_HighlightFind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Statistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Indent_Size" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Display_FastRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Behavior_AutoLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Behavior_AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Behavior_DataVirtualization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Data_PeekCountHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Data_LastUsedFileExtension" serializeAs="String">
                <value>*.bin</value>
            </setting>
            <setting name="Data_SearchRecursive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Behavior_AllowColumnReorder" serializeAs="String">
                <value>True</value>
            </setting>
        </LogFlow.Viewer.Properties.Settings>
    </userSettings>
</configuration>